## pandas timeseries
a series or dataframe using datetime index instead of a range index

used for storing events/data that fits on a timeline
- weather data
- temperature readings
- heart rate monetoring
- quarterly sales
- stock prices

In [5]:
import pandas as pd
import numpy as np

# creating a datetime index
- start
- end
- periods
- freq

In [10]:
datetimeindex = pd.date_range(start="2018-03-15", end="2019-12-31", freq="2D5H", periods=10)
datetimeindex

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-03 05:00:00',
               '2018-01-05 10:00:00', '2018-01-07 15:00:00',
               '2018-01-09 20:00:00', '2018-01-12 01:00:00',
               '2018-01-14 06:00:00', '2018-01-16 11:00:00',
               '2018-01-18 16:00:00', '2018-01-20 21:00:00'],
              dtype='datetime64[ns]', freq='53H')

In [15]:
df = pd.DataFrame(
    dict(
        n = range(len(datetimeindex)),
        rand = np.random.random(len(datetimeindex))
    ),
    index=datetimeindex
)

df

                     n      rand
2018-01-01 00:00:00  0  0.382417
2018-01-03 05:00:00  1  0.814620
2018-01-05 10:00:00  2  0.375086
2018-01-07 15:00:00  3  0.317559
2018-01-09 20:00:00  4  0.265596
2018-01-12 01:00:00  5  0.022302
2018-01-14 06:00:00  6  0.907966
2018-01-16 11:00:00  7  0.990518
2018-01-18 16:00:00  8  0.780815
2018-01-20 21:00:00  9  0.966471

In [18]:
df.loc[:, "rand"]

2018-01-01 00:00:00    0.382417
2018-01-03 05:00:00    0.814620
2018-01-05 10:00:00    0.375086
2018-01-07 15:00:00    0.317559
2018-01-09 20:00:00    0.265596
2018-01-12 01:00:00    0.022302
2018-01-14 06:00:00    0.907966
2018-01-16 11:00:00    0.990518
2018-01-18 16:00:00    0.780815
2018-01-20 21:00:00    0.966471
Freq: 53H, Name: rand, dtype: float64

### resampling
resampling is the practice of creating new samples with a lower or higher freq than the orginal data

### downsampling
when the sample freq is lower than the orginal we can aggregate values from the orginal data

In [24]:
from helpers import hdisplay

resample_method = "2D"

hdisplay([
    df.head(10),
    df.resample("2D").agg({"n": "max", "rand": "sum"}).head(10)],
    ["Orginal", f"resampled using '{resample_method}'"]
)

,n,rand
2018-01-01 00:00:00,0,0.382417
2018-01-03 05:00:00,1,0.814620
2018-01-05 10:00:00,2,0.375086
2018-01-07 15:00:00,3,0.317559
2018-01-09 20:00:00,4,0.265596
2018-01-12 01:00:00,5,0.022302
2018-01-14 06:00:00,6,0.907966
2018-01-16 11:00:00,7,0.990518
2018-01-18 16:00:00,8,0.780815
2018-01-20 21:00:00,9,0.966471
,n,rand
2018-01-01 00:00:00,0,0.382417
2018-01-03 00:00:00,1,0.814620
2018-01-05 00:00:00,2,0.375086
2018-01-07 00:00:00,3,0.317559
2018-01-09 00:00:00,4,0.265596
2018-01-11 00:00:00,5,0.022302
2018-01-13 00:00:00,6,0.907966
2018-01-15 00:00:00,7,0.990518
2018-01-17 00:00:00,8,0.780815
2018-01-19 00:00:00,9,0.966471

### upsampling
when the sample freq is higher than the orginal we can fill between values: 
- ffill
- bfill
- nearest
- interpolation
- fillna

In [28]:
from helpers import hdisplay

resample_method = "6H"

hdisplay([
    df.head(10),
    df.resample(resample_method).nearest().head(10)],
    ["Orginal", f"resampled using '{resample_method}'"]
)

,n,rand
2018-01-01 00:00:00,0,0.382417
2018-01-03 05:00:00,1,0.814620
2018-01-05 10:00:00,2,0.375086
2018-01-07 15:00:00,3,0.317559
2018-01-09 20:00:00,4,0.265596
2018-01-12 01:00:00,5,0.022302
2018-01-14 06:00:00,6,0.907966
2018-01-16 11:00:00,7,0.990518
2018-01-18 16:00:00,8,0.780815
2018-01-20 21:00:00,9,0.966471
,n,rand
2018-01-01 00:00:00,0,0.382417
2018-01-01 06:00:00,0,0.382417
2018-01-01 12:00:00,0,0.382417
2018-01-01 18:00:00,0,0.382417
2018-01-02 00:00:00,0,0.382417
2018-01-02 06:00:00,1,0.814620
2018-01-02 12:00:00,1,0.814620
2018-01-02 18:00:00,1,0.814620
2018-01-03 00:00:00,1,0.814620
2018-01-03 06:00:00,1,0.814620

## working with real data

In [43]:
apple = pd.read_csv("../Data/HistoricalData_Apple.csv", parse_dates=["Date"], index_col="Date")
apple.rename(columns={"Close/Last": "Close"}, inplace=True)

to_int_columns = ["Close", "Open", "High", "Low"]

apple[["Close", "Open", "High", "Low"]] = apple[["Close", "Open", "High", "Low"]].map(lambda value: value.replace("$", "")).astype("float64")

# apple = apple.astype({col : "float64" for col in to_int_columns})

apple.sort_index(inplace=True)

apple

             Close    Volume     Open      High     Low
Date
2023-10-10  178.39  43698020  178.100  179.7200  177.95
2023-10-11  179.80  47551100  178.200  179.8500  177.60
2023-10-12  180.71  56743120  180.070  182.3400  179.04
2023-10-13  178.85  51456080  181.420  181.9300  178.14
2023-10-16  178.72  52516980  176.750  179.0750  176.51
2023-10-17  177.15  57549350  176.645  178.4200  174.80
2023-10-18  175.84  54764380  175.580  177.5750  175.11
2023-10-19  175.46  59302860  176.040  177.8400  175.19
2023-10-20  172.88  64244030  175.310  175.4200  172.64
2023-10-23  173.00  55980110  170.910  174.0100  169.93
2023-10-24  173.44  43816640  173.050  173.6700  171.45
2023-10-25  171.10  57156960  171.880  173.0600  170.65
2023-10-26  166.89  70625260  170.370  171.3775  165.67
2023-10-27  168.22  58499130  166.910  168.9600  166.83
2023-10-30  170.29  51130960  169.020  171.1700  168.87
2023-10-31  170.77  44846020  169.350  170.9000  167.90
2023-11-01  173.97  56934910  171.000  174.2300  170.12
2023-11-02  177.57  77334750  175.520  177.7800  175.46
2023-11-03  176.65  79829250  174.240  176.8200  173.35
2023-11-06  179.23  63841310  176.380  179.4300  176.21
2023-11-07  181.82  70529970  179.180  182.4400  178.97
2023-11-08  182.89  49340280  182.350  183.4500  181.59
2023-11-09  182.41  53763540  182.960  184.1200  181.81

In [47]:
apple.loc["2018", "Close"].max()
apple.resample("YS").mean()

KeyError: '2018'

In [48]:
import seaborn as sns

data = apple.loc["2020-10"].resample("M").mean()
data = apple.loc["2020"].resample("QS").mean()
sns.lineplot(data=apple, x=apple_index, y="Open")